<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/login-style.css">
    <title>login</title>
</head>
<body>
    <div class="log">
        <form method="POST" enctype="multipart/form-data">
        <div class="mid">
            <label for="text" id="id">Employee id</label>
            <input type="text" id="input1" name="uname">
            <label for="text" id="ipass">password</label>
            <input type="password" id="pass" name="password">
            <input id="but" type="submit">
        </div>
    </form>
    </div>
</body>
</html>