*{
    padding: 0px;
    margin: 0px 0px 0px 0px;
}
.log{
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top right, #270073,#d12052);
}
.mid{
    position: relative;
    width: 570px;
    height: 400px;
    top: 100px;
    left: 270px;
    border-radius: 15px;
    background-color: #ffffff;
}
#id{
    position: relative;
    font-size: 30px;
    top: 50px;
    left: 205px;
    color: #d12052;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#input1{
    position: relative;
    font-size: 20px;
    height: 35px;
    top: 100px;
    left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ipass{
    position: relative;
    top: 160px;
    right: 210px;
    font-size: 30px;
    color: #270073;
    /* height: max-content; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pass{
    position: relative;
    top: 160px;
    left: 160px;
    font-size: 20px;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#but{
    position: relative;
    top: 250px;
    right: 70px;
    background:    #3d85c6;
    border-radius: 11px;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 26px/1 "Open Sans", sans-serif;
    text-align:    center;
}